@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap");

:root {
  --lightBlue: #588dff;
  --green: #1f926f;
  --orange: #e0634d;
  --middleBlue: #171c25;
  --darkBlue: #0a0c10;
  --borderRadiusUnit: 6px;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif !important;
  font-weight: 400;
  box-sizing: border-box;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 999;
}

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--middleBlue);
  max-width: 100vw;
  width: 100%;
}

#__next > *,
#header {
  padding: 0 40px;
}

#__next {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  padding-bottom: 150px;
  background-color: var(--darkBlue);
}

#__next > * {
  max-width: 800px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: white;
  text-align: center;
}

p {
  color: #999;
  text-align: left;
  font-size: 18px;
  line-height: 30px;
  margin-top: 22px;
  width: 100%;
}

.rounded {
  border-radius: var(--borderRadiusUnit) !important;
  overflow: hidden;
}

#header {
  background-color: var(--middleBlue);
  max-width: none;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  border: 4px solid var(--lightBlue);
  padding: 6px 30px;
  border-radius: 10px;
  margin-top: 50px;
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    var(--green) 10px,
    var(--green) 14px
  );
  -webkit-text-fill-color: var(--middleBlue);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

h3 {
  color: #999;
  font-size: 16px;
  margin-top: 50px;
}

#actions {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#actions > * {
  margin: 6px 10px;
  transition: transform 0.2s ease;
}

#actions > *:hover {
  transform: scale(1.1);
}

#actions img {
  border-radius: 5px;
  overflow: hidden;
}

#header p {
  margin-top: 30px;
  text-align: center;
  font-size: 22px;
}

a {
  color: var(--lightBlue);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
}

a:hover {
  color: var(--orange);
}

code:not(.codeBlock *) {
  background-color: #ffffff14;
  padding: 4px 6px;
  border-radius: 5px;
  color: white;
}

h2 {
  position: relative;
  font-size: 30px;
  padding-top: 110px !important;
  margin-bottom: 10px;
  margin-top: -40px;
}

.gone {
  display: none;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  background-color: var(--middleBlue);
  padding: 10px 20px !important;
  max-width: none !important;
  width: 100vw;
  border-bottom: 1px solid var(--darkBlue);
}

ul p {
  margin-top: 0;
  line-height: 16px;
  width: auto;
}

p:empty {
  display: none;
}

li a,
li {
  padding: 4px 6px;
  text-align: center;
}

li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

.codeBlock {
  margin-top: 20px;
  width: 100%;
}

.codeBlock * {
  font-size: 14px !important;
  font-family: "Oxygen Mono", monospace !important;
  background-color: var(--middleBlue) !important;
  word-wrap: break-word;
  line-height: 25px;
  tab-size: 4;
}

.codeBlock > div {
  padding: 20px 20px;
}

.codeBlock button {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  border: none;
  opacity: 0.5;
  transition: opacity 0.2s ease;
}

.codeBlock button:hover {
  opacity: 1;
}

.demo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p.label {
  text-align: center;
  opacity: 0.5;
  margin-top: 40px;
}

.demo .slider,
.MuiTooltip-popper {
  transition: opacity 0.2s ease;
}

.demo .MuiSlider-root {
  max-width: 400px;
  margin-top: 50px;
}

.demo .MuiSlider-colorPrimary {
  color: var(--lightBlue);
}

.demo .MuiButton-root {
  margin-top: 45px;
  text-transform: none;
  font-family: inherit;
  transition: color 0.2s ease;
  color: white;
}

.demo .activate {
  background-color: var(--green) !important;
}

.demo .deactivate {
  background-color: var(--orange) !important;
}

#tooltip * {
  position: fixed;
}

.MuiTooltip-popper {
  z-index: 1 !important;
}

.MuiTooltip-tooltip {
  background-color: var(--green) !important;
  border-radius: var(--borderRadiusUnit) !important;
  padding: 6px 8px !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  margin: 12px 0 !important;
}

.MuiSnackbar-root {
  padding: 0 !important;
}

.MuiSnackbar-root * {
  border-radius: var(--borderRadiusUnit) !important;
  background-color: var(--green) !important;
  text-align: center;
}

.MuiSnackbar-root .MuiSnackbarContent-message {
  width: 100%;
}

@media screen and (max-width: 440px) {
  ul {
    position: static !important;
  }
  #__next > *,
  #header {
    padding: 0 25px;
  }
}
